@{
    ViewBag.Title = "UnBlockedAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center">
    <h2>Your account unblocked! </h2>
    @Html.ActionLink("Go to page Login ", "Login")

</div>