@model IEnumerable<string>

<h3>Status filter</h3>
<p></p>
@Html.ActionLink("All", "List", "Client", null, new { @class = "unselected" })

@foreach (var link in Model)
{
    <p>
        @Html.RouteLink(link, new
    {
        controller = "Client",
        action = "List",
        status = link,
        page = 1
    },
    new
    {
        @class = link == ViewBag.SelectedStatus ? "selected" : "unselected",
        @title = "Choose filter"
    })
    </p>
}


        
