@header-color:#2c77ba;
@footer-color:#aad0f2;
@span-color:#160b5f;
@border-color: #a1d3ff;
@backgraund-color:#eef8ff;
@border-solid:2px solid;
@select-border-color:#79bcf7;
@select-backgraund-color:#f7ffff;
@error-border-color:red;
@error-backgraund-color:#ff8c8c;
@error-select-border-color:#f64ece;
@error-select-backgraund-color:#ffd4f6;
@border-solid:1px solid;
@select-border-solid:2px solid;
@start-button-color:#f3f3f3;
@end-button-color:#898989;
@return-link-color:#060058;
@start-list-color:#effbfa;
@end-list-color:#cdedee;
 

span{ 
    color: @span-color;
}

[onclick]{
 cursor: pointer; 
}

.center{
    
    table{
        text-align: center;
        .checkbox{
             text-align: left;
        }
        margin: auto;
    }
}

table{    
    td{height:30px;}      
}

.input-field{
     width:200px;
    text-align: left;
}


body {   
    
    
    font-family:Arial, Helvetica, sans-serif;
    header{      
        position: relative;
        text-align: center;
        background: @header-color; 
                  
        img{vertical-align: middle; 
            border:20px solid @header-color;                        
        }
        a{font-size:20px;}
        #showaccount {
            a{font-size:14px;}
            position:absolute;
            bottom:10%;
            right:1%;
            text-align:right;     
        }    
    } 
    
    footer{
     
        padding:1% 0;       
        background: @footer-color;
        text-align: center;
    }
}

input:focus,select:focus{
    border:@select-border-solid @select-border-color;
    background-color:@select-backgraund-color;
}

input,select{
    border:@border-solid @border-color;
    background-color:@backgraund-color;
}

input.input-validation-error
{    
    border:@border-solid @error-border-color;
    background-color:@error-backgraund-color;
}

input.input-validation-error:focus
{    
    border:@error-select-border-color @select-border-solid;
    background-color:@error-select-backgraund-color;
}

.label-input-field{
    text-align: right;
}


*{
    margin: 0;  
}
html,
body {
  height: 100%;
}
.wrapper {
  display: table;
  height: 100%;
  width:100%;
}
.content {   
  display: table-row;
  height: 100%;
}

[type="submit"] {
    background: -moz-linear-gradient(@start-button-color, @end-button-color);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(@start-button-color), to(@end-button-color));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@start-button-color, endColorstr=@end-button-color);
    padding: 3px 25px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dedede;
    font-size:12px;
}

.return-link{
    line-height: 5;
    color: @return-link-color;
}
.return-link:visited {
    color: @return-link-color; 
}
.return-link:active {
    color: red; 
}
  
.pager{
    a{   
        padding: 3px 10px;
        text-decoration:none;
        font-size:20px;
        border-color: blue;
        border-radius: 3px;
        border:1px solid;
    }
            position:absolute;
            bottom:10%;
            right:10%;
            text-align:center;
   color: @return-link-color;  
}

.list{
     margin-left: 10%;
    font-size:12px;
    text-align:center;   
   th{width:100px; height: 20px;
      border:2px solid @end-list-color;
      background: -moz-linear-gradient(@start-list-color, @end-list-color);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(@start-list-color), to(@end-list-color));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@start-list-color, endColorstr=@end-list-color);
   }
   td{
       height: 20px;
      border:2px solid @end-list-color;
   }
   border-collapse: collapse ;
}
  
#clients-on-page{
   padding:3% 0; 
   text-align:center;  
   .text-box{width:50px;}
}
   
.menu {
     text-align:center;  
    position:absolute;           
            left:1%;
    a{                
        text-decoration:none;
        font-size:20px; 
        line-height: 2;
        display:table;
    height:10px;
    width:70px;     
    }    
}

.new-client{
    padding:3% 0; 
  float:left;
      margin-left:1%;
      font-size:20px; 
}

.selected{
 background: -moz-linear-gradient(@start-button-color, @end-button-color);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(@start-button-color), to(@end-button-color));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@start-button-color, endColorstr=@end-button-color);
    }
 .unselected{  
  background: -moz-linear-gradient(@start-list-color, @end-list-color);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(@start-list-color), to(@end-list-color));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@start-list-color, endColorstr=@end-list-color);
  }
 .table-input-fields{
     margin-left:15%;
     margin-top:5%;
 }