body {

     input.error,
    textarea.error,
    select.error,
    div.error
    {
        border:1px solid red !important;
    }

    input[type='text'].error {border:1px solid #e1e1e1; border-top:1px solid #b0aa9b; border-left:1px solid #b0aa9b; background:#ff9582;}

    font-family:Arial, Helvetica, sans-serif;

    header, footer {
        background: #2c77ba;

        .title { 
            text-align: center; 
            

        }
    }
    #showaccount
            {text-align:right }
    #mainFooter {
        text-align: center;
    }   
}

